body {
	background-color: MistyRose;
	font-family: Lucida Sans Unicode;
}

.icon {
	max-width: 100%;
}

.tile {
	border: 3px solid blue;
	background-color: Cornflower;
	padding: 1em;
}

#temp {
	border: 5px solid red;
}